#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

nav {
  display: flex;
  place-items: center flex-start;
  height: 80px;
  padding: 10px 20px;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  background-color: #747bff;
}
ul {
  list-style: none;
}
.go-back-btn {
  display: block;
  margin-top: 1rem;
}
.companies-container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  place-content: center;
  max-width: calc(100vw - 40px);
  margin: 0 auto;
  gap: 20px;
}
.company-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 40%;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px hsla(237, 100%, 73%, 0.612);
  padding: 80px;
  transition: all 0.4s ease-in-out;
}
.company-card:hover {
  transition: all 0.4s ease-in-out;
  box-shadow: 5px 5px 30px 0px hsla(237, 100%, 73%, 0.9);
  background-color: hsla(237, 100%, 73%, 0.612);
  scale: 1.04;
  z-index: 20000000000;
}
.company-logo {
  min-width: 150px;
  min-height: 150px;
  max-width: 200px;
  max-height: 200px;
}

.company-info-card {
  display: flex;
  justify-content: space-around;
  margin: 60px auto 30px;
}
.company-info-card-logo {
  min-width: 300px;
  max-width: 350px;
  min-height: 300px;
  max-height: 350px;
}
.company-about {
  min-width: 300px;
  max-width: 500px;
}
.company-about h4,
.company-about h5,
.company-about p {
  margin: 0;
}
.company-about h4 {
  font-size: 2.5rem;
}
.company-about h5 {
  font-size: 1rem;
  margin-bottom: 1.4rem;
}
.company-about p {
  font-size: 1.125rem;
}

.company-stack-container {
  position: relative;
  max-width: 64rem;
  margin: 0 auto;
}
.company-stack-wrapper {
  display: flex;
  /* position: absolute; */
  justify-content: flex-start;
  width: auto;
  overflow-x: auto;
  gap: 20px;
  padding-bottom: 24px;
}
.company-stack-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 300px;
  max-height: 200px;
  transition: all 0.4s ease-in-out;
}
.company-stack-link:hover {
  transition: all 0.4s ease-in-out;
  scale: 1.1;
}
.company-stack-image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 100px;
  /* padding: 50px; */
  box-shadow: 5px 5px 10px 0px hsla(237, 100%, 73%, 0.612);
}
.company-stack-image-container img {
  min-width: 20px;
  max-width: 80px;
  min-height: 20px;
  max-height: 80px;
}
.company-stack-name {
  margin: 0;
}
